# ProjectSetings.jinja
# Templated settings file, in any language
# For example, this is Python

{% if config == "Dev" %}

DEBUG = True
SECRET_KEY = 'some-insecure-plain-text-dont-ever-use-this-in-prod-api-key'

{% else %}

DEBUG = False
with open('/etc/example/obfuscated-file-name', 'r') as f:
    SECRET_KEY = f.read()

{% endif %}

HELLO_WORLD = 'Hello, World!'
